html body{
    display: flex;
    align-items: center;
    justify-content: center;
     background: url(../103445-OM1IJK-655.jpg);
    background-position: center;
    background-size: cover;
    
}

.mdl-card{
    height: 90vh;
    width: 50vw;

}
.mdl-card__title{
    height: 50%;
    background: url(../104638-OMDWIZ-239.jpg);
    background-position: center;
    background-size: cover;
}

#form{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#result{
    display: none;
    font-weight: 700;
    font-size: 300%;
    font-family: monospace;
    color: crimson;
}

#buttontryagain{
    display: none;
}

 @media (max-width: 700px) {
        .mdl-card{
    height: 80vh;
    width: 90vw;

}
    }